.wrap {
  margin-top: 20px;
}
/* PROGRESS BAR */
.progressbar {
  margin: 0 auto;
  width: 500px;
  height: 15px;
  background-color: white;
  margin-bottom: 50px;
  margin-bottom: -1rem;
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #fa6400;
}
